<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", permission_lines_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_permission_line_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", permission_line_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.permission_line.permission_id", :default => t("activerecord.labels.permission_id", :default => "Permission")) %>:</b>
          <%= @permission_line.permission_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.permission_line.controller", :default => t("activerecord.labels.controller", :default => "Controller")) %>:</b>
          <%= @permission_line.controller %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.permission_line.action", :default => t("activerecord.labels.action", :default => "Action")) %>:</b>
          <%= @permission_line.action %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.permission_line.method", :default => t("activerecord.labels.method", :default => "Method")) %>:</b>
          <%= @permission_line.method %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.permission_line.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @permission_line.description %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_permission_line_path(@permission_line), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", permission_line_path(@permission_line), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>