<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", system_modules_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_module_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> SysModules</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.system_module.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.system_module.descrition", :default => t("activerecord.labels.descrition", :default => "Descrition")) %>
          </th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @system_modules.each do |system_module| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= system_module.id %>
            </td>
            <td>
              <%= link_to system_module.name, system_module_path(system_module) %>
            </td>
            <td>
              <%= system_module.description %>
            </td>
            <td>
              <%= system_module.created_at %>
            </td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Functions")}", system_module_system_functions_path(system_module) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Permissions")}", system_module_permissions_path(system_module) %> |
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", system_module_path(system_module) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_system_module_path(system_module) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", system_module_path(system_module), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>
