<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", system_modules_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_module_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", system_module_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.system_module.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @system_module.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.system_module.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @system_module.description %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_system_module_path(@system_module), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", system_module_path(@system_module), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>
